.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.landing-page {
  background-color: #f8f9fa;
  padding: 0 15px;
}

.shadow-sm {
  border-radius: 0.25rem;
}

.custom-gradient-btn {
  background-image: linear-gradient(to right, #4974e3, #829cde);
  border: none; /* Remove default border */
}

.btn-primary {
    background-color: #4974e3 !important;
    border-color: #4974e3 !important;
}

.bg-main {
    background-color: #4974e3 !important;
}

.bg-plain {
    background-color: #829cde !important;
}

.h-14 {
    font-size: 24px !important;
}